*sources*
.Rproj.user/2B1B628E/pcs/source-pane.pper
.Rproj.user/2B1B628E/sources/per/t/4BA1C248
.Rproj.user/2B1B628E/sources/per/t/822FADCA
.Rproj.user/2B1B628E/sources/prop/2CF67A93
.Rproj.user/2B1B628E/sources/prop/C0B283F2
.Rproj.user/2B1B628E/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
