*sources*
.Rproj.user/2B1B628E/pcs/source-pane.pper
.Rproj.user/2B1B628E/sources/per/t/4BA1C248
.Rproj.user/2B1B628E/sources/per/t/822FADCA
.Rproj.user/2B1B628E/sources/prop/2CF67A93
.Rproj.user/2B1B628E/sources/prop/C0B283F2
.Rproj.user/2B1B628E/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
.Rhistory
.Rproj.user/B0D26E57/saved_source_markers
.Rproj.user/B0D26E57/rmd-outputs
.Rproj.user/B0D26E57/pcs/workbench-pane.pper
.Rproj.user/B0D26E57/pcs/windowlayoutstate.pper
.Rproj.user/B0D26E57/pcs/source-pane.pper
.Rproj.user/B0D26E57/pcs/files-pane.pper
.Rproj.user/B0D26E57/cpp-definition-cache
.Rproj.user/B0D26E57/console06/INDEX001
.Rhistory
.Rproj.user/shared/notebooks/paths
.Rproj.user/B0D26E57/pcs/debug-breakpoints.pper
.Rproj.user/2B1B628E/sources/prop/INDEX
.Rproj.user/2B1B628E/sources/per/t/822FADCA-contents
.Rproj.user/2B1B628E/sources/per/t/822FADCA
.Rproj.user/2B1B628E/sources/per/t/4BA1C248-contents
.Rproj.user/2B1B628E/sources/per/t/4BA1C248
.Rproj.user/2B1B628E/rmd-outputs
.Rproj.user/2B1B628E/pcs/workbench-pane.pper
.Rproj.user/2B1B628E/pcs/windowlayoutstate.pper
.Rproj.user/2B1B628E/pcs/source-pane.pper
.Rproj.user/2B1B628E/pcs/files-pane.pper
.Rproj.user/2B1B628E/pcs/debug-breakpoints.pper
.Rproj.user/2B1B628E/cpp-definition-cache
